


                    This system is managed by {{ generic_motd__support_name }} via

                            ___    _   _____________
                           /   |  / | / /_  __/ ___/
                          / /| | /  |/ / / /  \__ \ 
                         / ___ |/ /|  / / /  ___/ / 
                        /_/  |_/_/ |_/ /_/  /____/  
                                                    

                    Framework for Linux and macOS clients

       Please do not hesitate to contact us if you have any question
       Mail: {{ generic_motd__support_mail }}                      Tel: {{ generic_motd__support_tel }}




